{% extends 'base.html'%}

{% block head %}
<title>Task Index</title>

{% endblock %}
   {% block body %}
<br>
  <div class="container">

      <h1>Task Manager Index</h1>
      <div class="list-group">
  <a href="/account/EnterTask" class="list-group-item list-group-item-action">Enter your task</a>
  <a href="/account/all" class="list-group-item list-group-item-action">Update your task </a>
  <a href="#" class="list-group-item list-group-item-action">Point tracker</a>
</div>



  </div>

   {% endblock %}